@font-face {
  font-family: "Open Sans";
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url("../fonts/opensans.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local('Open Sans Light'), local('OpenSans-Light'), url("../fonts/opensanslight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2");
  font-weight: 800;
  font-style: normal;
}


.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;

  background-color: #fff;
}

body::before {
  content: " ";
  display: block;
  height: 40px;
}

a {
  text-decoration: none;
  color: #000;
}

.button {
  position: relative;
  display: inline-block;

  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.button::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 16px;
  left: 0px;
  width: 100%;
  height: 8px;

  background-color: #f7e296;


}

.button:hover::before {
  transform: scaleY(5);
}


/* оформить логотип */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/************** HEADER **************/


.main-header {
  display: flex;
  flex-direction: column;
  min-height: 185px;
  padding: 0 60px;
  
  background-color: #f7e296;
}

.main-header-logo {
  position: relative;
  bottom: 18px;
  width: 160px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-functional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
  margin-bottom: 38px;
}

.search {
  position: relative;
  margin: 0;
  padding-left: 36px;
}

.search::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.search input {
  font: inherit;
  background-color: transparent;
  border: 0;
}

.button-search {
  visibility: hidden;
}


.main-functional-pt2-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.main-user {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
 
}

.main-user-item:first-child a{
  position: relative;
  padding-left: 25px;
}

.main-user-item:first-child a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  width: 13px;
  height: 13px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.main-user-logout {
  margin-left: 20px;
}

.main-options {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0; 
  list-style: none;
}

.main-options-compare a {
  position: relative;
  padding-left: 25px;
}

.main-options-compare a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-options-cart a {
  position: relative;
  padding-left: 25px;
}

.main-options-cart a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.main-nav-list {
  display: flex;

  margin: 0;
  margin-left: -1px;
  padding: 0;
  list-style: none;
}

.main-nav-list-catalog  {
  position: relative;
  width: 500px;
  margin-right: 40px;
}

.main-nav-list-catalog>a {
  position: relative;
  padding-right: 27px;
}

.main-nav-list-catalog>a::after {
  content: "";

  position: absolute;
  top: 1px;
  right: 0;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
}

.main-nav-list-catalog-list {
  display: none;
  position: absolute;
  top: 35px;
  left: -60px;
  
  width: 1040px;
  margin: 0;
  padding: 0 60px;
  padding-bottom: 40px;
  list-style: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;

  background-color: rosybrown;
}

.catalog-list-column:nth-child(1) {
  width: 240px;
}
.catalog-list-column:nth-child(2) {
  width: 200px;
}
.catalog-list-column:nth-child(3) {
  width: 200px;
}

.main-nav-list-delivery {
  margin-right: 34px;
}
.main-nav-list-contacts {
  margin-right: -2px;
  margin-left: auto;
}

.main-functional a:hover,
.main-functional a:hover::before,
.main-functional a:focus,
.main-functional a:focus::before,
.main-nav-list a:hover,
.main-nav-list a:focus,
.main-nav-list-catalog-list a:hover,
.main-nav-list-catalog-list a:focus {
  opacity: 0.6;
}

.main-functional a:active,
.main-functional a:active::before,
.main-nav-list a:active,
.main-nav-list-catalog-list a:active {
  opacity: 0.3;
}

/* .main-header::after {
  content: "";
  position: absolute;
  z-index: -2;
  

  width: 1160px;
  height: 115px;
  margin-left: -60px;
  margin-top: 185px;

  background-color: #f7e296;
} */

/* Поле поиска. Нужно переназначить цвета на hover focus activ. Позже. Тут вообще масштабная стилизация этой формы предстоит. */

/************** Section "popular-goods"**************/

.popular-goods {
  margin-bottom: 105px;
}
.popular-goods::before {
  content: "";
  position: absolute;
  z-index: -2;
  

  width: 1160px;
  height: 115px;

  background-color: #f7e296;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;;
}

.slide {
  display: flex;
}

.slide-2,
.slide-3 {
  display: none;
}

.slide-img  {
  width: 560px;
  margin-right: 40px;
}

.slide-img img {
  display: block;
  margin: 0 auto;
}

.slide-info {
  width: 500px;
  padding-top: 82px;
}

.slide-info b {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.slide-info b::before {
  content: "";
  position: absolute;
  top: -40px;

  width: 100px;
  height: 7px;

  background-color: #fff;
}

.slide-info p{
  margin: 0;
  margin-bottom: 43px;
  padding-top: 20px;
  color: #464646;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.slider-button {
  margin-bottom: 48px;
  width: 220px;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em; /* выглядит значительно больше чем в макете */
  font-weight: 800;
}

.slide-info table {
  margin: -3px;
  width: 463px;
}

.slide-info td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.slide-info th {
  padding-top: 7px;
  color: #464646;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

/* table {
  border: 2px solid black;
  border-collapse: collapse;
} */

td {
  padding-top: 0px;
  width: 160px;
  /* border: 1px solid lightgray; */
}

td:nth-child(2) {
  width: 140px;
}


/************** Section "items" **************/

.items {
  margin-bottom: 74px;
}

.items-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.items-item {
  width: 160px;
}

.items-item a {
  display: flex;
  flex-direction: column;
}

.items-list h3 {
  order: 1;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.items-item div {
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.items-item:nth-child(1) div {
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.items-item:nth-child(2) div {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: center 95%;
}
.items-item:nth-child(3) div {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 54% 51%;
}
.items-item:nth-child(4) div {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: center 52%;
}
.items-item:nth-child(5) div {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 52% center;
}
.items-item:nth-child(6) div {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 45% 54%;
}



.items-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/************** Section "services" **************/

.services-wrapper {
  position: relative;
  width: 100%;
  background-image: linear-gradient(transparent 107px, #e5e5e5 107px);
  z-index: 0;

}

.services {
  display: flex;
  min-height: 325px;
  margin-bottom: 94px;
  padding-bottom: 70px;
}

.services h3,
.services dt {
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.services h3 {
  line-height: 40px;
}

.services-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 280px;
  margin-top: 45px;
  margin-right: 120px;
}

.services-buttons::after {
  content: "";
  position: absolute;

  top: -39px;
  left: 277px;

  width: 7px;
  height: 320px;

  background-color: #000;
}

.services-buttons .button {
  min-width: 162px;
  margin-bottom: 25px;
}


.services .active {
  padding-right: 120px;
  color: #f7e184;
  background-color: #000;
}

.services-info {
  width: 760px;
}

.services-slide {
  position: relative;
  width: 460px;
  margin: 0;
}

.services-slide::after{
  content: "";
  position: absolute;

  width: 175px;
  height: 195px;
}

.services-slide-1::after {
  top: -4px;
  left: 538px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-slide-2::after {
  top: -4px;
  left: 538px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-slide-3::after {
  top: -4px;
  left: 538px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-slide-2,
.services-slide-3 {
  display: none;
}

.services dt {
  margin-top: 80px;
  margin-bottom: 35px;
  font-size: 47px;
  line-height: 48px;
}

.services-info dd {
  margin: 0;
}

/* ***************?******************** */

/************** Section "brands" **************/

.brands {
  margin-bottom: 136px;
}

.brands ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands a {
  position: relative;
  display: inline-block;
}

.brand-icon:nth-child(1) a:hover::before {
  content: "";

  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/part-brand/brand-1-hover.png");
}

.brand-icon:nth-child(2) a:hover::before {
  content: "";

  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/part-brand/brand-2-hover.png");
}

.brand-icon:nth-child(3) a:hover::before {
  content: "";

  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/part-brand/brand-3-hover.png");
}

.brand-icon:nth-child(4) a:hover::before {
  content: "";

  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/part-brand/brand-4-hover.png");
}

.brands img {
  opacity: 0.2;
}

/***************** DIV "WRAP-about-us-contacts" *****************/
        /************** Section "about-us" **************/

.wrap-about-us-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 81px;
}

.about-us {
  width: 480px;

}

.contacts {
  width: 560px;
  margin-left: auto
}

.about-us h2,
.contacts h2 {
  position: relative;

  margin: 0;
  margin-bottom: 43px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.about-us h2::before,
.contacts h2::before {
  content: "";

  position: absolute;
  top: -52px;

  width: 80px;
  height: 7px;

  background-color: #000;
}

.about-us p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;
  color: #464646;
}


.about-us ul {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 56px;
  padding: 0;
  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.about-us li {
  padding-left: 35px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: 0 center;
}

.about-us-button,
.contacts-button {
  width: 260px;
}

.contacts img {
  margin-top: 10px;
  margin-bottom: 58px;
}
/****************** FOOTER ****************/

.main-footer {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 44px;
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.footer-top-pt2-wrapper {
  display: flex;
}

.footer-user {
  display: flex;
  justify-content: flex-end;
  width: 225px;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;
}

.footer-user-logout {
  margin-left: 20px;
}

.footer-user-item:first-child a {
  position: relative;
  padding-left: 20px;
}

.footer-user-item:first-child a::before {
  content: "";

  position: absolute;
  top: 6px;
  left: -10px;

  width: 13px;
  height: 13px;

  background-image: url("../img/user-fy.svg");
  background-repeat: no-repeat;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-options-compare,
.footer-options-cart {
  position: relative;
  padding-left: 20px;
}

.footer-options-cart::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 0px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-fy.svg");
}

.footer-options-compare::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 0px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-fy.svg");
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-middle p {
  margin: 0;
  padding: 0;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: -40px;
  padding: 0px;
  list-style: none;
  width: 460px;
  text-transform: uppercase;
}

.footer-nav a{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-yelow-line {
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.style-g1 {
  opacity: 1;
}
.style-g1:hover,
.style-g1:focus {
  opacity: 0.6;
}
.style-g1:active {
  opacity: 0.3;
}

.style-g2 {
  opacity: 0.7;
}
.style-g2:hover,
.style-g2:focus {
  opacity: 1;
}
.style-g2:active {
  opacity: 0.3;
}

.style-g3 {
  opacity: 0.3;
}
.style-g3:hover,
.style-g3:focus {
  opacity: 0.6;
}
.style-g3:active {
  opacity: 0.1;
}


/*** <!-- pop-up "Напишите нам" --> ***/

.modal {
  position: fixed;

  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.modal-login {
  display: none;
  top: 100px;
  left: 50%;

  width: 960px;
  margin-left: -480px;
  padding: 90px 100px 80px;
}

.modal-login-item {
  display: inline-block;
  margin: 0;
}
.modal-login-item label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.modal-login-item input,
.modal-login-item textarea {

  box-sizing: border-box;

  width: 360px;
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 10px 20px;

  font: inherit;
  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.modal-login-item textarea {
  box-sizing: border-box;
  width: 760px;
}

.modal-login-item input[type="text"] {
  margin-right: 36px;
}

.modal-login-item input:hover,
.modal-login-item textarea:hover {
  background-color: #eaeaea;
}

.modal-login-item input:focus,
.modal-login-item textarea:focus {
  outline: 3px solid #f7e296;

  color: #000000;

  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background-color: #f7e296;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 26px;
  left: 13px;

  width: 30px;
  height: 2px;

  background-color: #fff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-send {
  height: 40px;
  border: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #f0c52e;
}

    /* <!-- pop-up "Карта" --> */

.modal-map {
  display: none;

  top: 50%;
  left: 50%;

  width: 960px;
  height: 560px; 

  margin-top: -280px;
  margin-left: -480px;
} 

.modal-map p {
  margin: 0;
}

/****************************************************
**********************selfstick.html*****************
*****************************************************/

.page-title {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 21px;
  padding-left: 60px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrums {
  display: flex;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  padding-left: 60px;
  list-style: none;
  font-size: 14px;
}

.breadcrums a {
  position: relative;
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrums a::after {
  content: "";

  position: absolute;

  width: 4px;
  height: 7px;

  top: 6px;
  right: -19px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrums a:hover,
.breadcrums a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrums a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrums-current {
  color: rgba(0, 0, 0, 0.3);
}

/* ***************Section "catalog-flex-container"***************** */

.catalog-flex-container {
  position: relative;
  display: flex;
  justify-content: center ;
}

.catalog-flex-container::after {
  content: "";

  position: absolute;
  z-index: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(0, 0, 0, 0.08);
}


/* ***************Section "filters"***************** */

.filters-container {
  display: flex;
  flex-grow: 1;
  background: #efefef;
}

.filters {
  min-width: 210px;
  min-height: 1287px;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;

}

.filters h2 {
  height: 70px;
  margin: 0;  
  margin-bottom: 81px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}

.filters legend {
  position: relative;
  margin-bottom: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filters legend::before {
  content: "";

  position: absolute;
  top: -12px;

  width: 200px;
  height: 2px;

  background-color: #000;
}

.filter input[type="range"] {
  margin-bottom: 33px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  padding-bottom: 10px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;

  display: block;


  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -38px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 3px;
  left: -38px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 1px;
  left: -39px;

  width: 25px;
  height: 26px;
  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 1px;
  left: -39px;

  width: 25px;
  height: 26px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  position: relative;
  display: inline-block;

  width: 200px;
  height: 40px;

  margin-top: -25px;


  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  color: #000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  z-index: 0;
}

.filter-button::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 16px;
  left: 0px;
  width: 100%;
  height: 8px;

  background-color: #f7e296;
  transition: transform 0.2s ease;
} 

.filter-button:hover::before {
  transform: scaleY(5);
}

/*********************Section "catalog"***************** */
        /*************Section "sorting"********* */

.catalog-container {
flex-grow: 1;
}

.catalog {
  width: 760px;
  padding-left: 72px;
}
.sorting {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 70px;
  background-color:#ebebeb;
}
.sorting h3 {
  margin: 0;
  margin-right: 50px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-nav a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting .active {
  color: rgba(0, 0, 0, 1);
}

.sorting-nav a:hover,
.sorting-nav a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-nav a:focus {
  color: rgba(0, 0, 0, 1);
}

.sorting-pagination {
  margin-left: auto;
}

.sorting-pagination-dir {
  opacity: 0.2;
}

.sorting-pagination-dir:last-child {
  margin-left: 15px;
}

.sorting-pagination-dir:hover,
.sorting-pagination-dir:focus {
  opacity: 0.4;
}

.sorting-pagination-dir:active {
  opacity: inherit;
}

.sorting .active {
  opacity: 1;
}

        /*************Section "catalog-list"********* */


.catalog-list {
  margin-bottom: 35px;
}
        
.catalog-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
position: relative;
display: flex;
flex-direction: column;
max-width: 360px;
margin-bottom: 49px;
}

.catalog-item .catalog-item-hover {
  position:absolute;
  top:0;
  left:0;

  box-sizing: border-box;
  width:360px;
  min-height:380px;
  padding-top: 170px;
  background-color:rgba(255,255,255,0.7);
  z-index:10;
}
.catalog-item-hover .button,
.catalog-item-hover .cart-add {

  display: block;
  width: 200px;
  margin:0 auto;
  text-align: center;
}

.catalog-item-hover .button {
  margin-bottom: 15px;
}

.catalog-item .catalog-item-hover {
  display: none;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item-wrap-text {
  display: flex;
  justify-content: space-between;
  order: 5;
}

.catalog-item img {
  margin-bottom: 30px;
  background-color: #eeeeee;
}

.catalog-item h3 {
  flex-basis: 260px;
  margin: 0;
  margin-right: -4px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.catalog-item-price {
  color: #464646;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.catalog-item-hover .button {
  width: 200px;
}

.cart-add {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;
}

.cart-add:hover {
  opacity: 1;
}

.cart-add:active {
  opacity: 0.2;
}
        /*************Section "pagination-list"********* */

.pagination-list {
  margin-top: -50px;
  margin-bottom: 75px;
  background-color: #ebebeb;
}
.pagination-list ul {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list a {
  display: block;
  padding: 22px 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 1);
}
.next-back a {
  width: 125px;
}

ul .next-back:first-child {
  margin-right: auto;
}

ul .next-back:last-child {
  margin-left: auto;
}

.number a {
  margin: 0 15px;
  color: rgba(0, 0, 0, 0.3);
}

.number-current a {
  color: rgba(0, 0, 0, 1);
}

.number a:hover,
.number a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.number a:active {
  color: rgba(0, 0, 0, 1);
}

.next-back a:hover, 
.next-back a:focus {
  height: 100%;
  background-color: #d9d9d9;
}

.next-back a:active {
  color: rgba(0, 0, 0, 0.3);
}